@model ProjMediaCollection.Models.MusicViewModels.AlbumIndexViewModel


<a asp-action="CreateAlbum" asp-controller="Music">Create new album</a>
<table class="table">

    @foreach (var album in Model.AlbumList)
    {
        <tr>
            <td>
                @if (album.Cover != null)
                {<a asp-controller="Music" asp-action="DetailAlbum" asp-route-id="@album.Id"> <img src="data:image;base64,@System.Convert.ToBase64String(album.Cover)" width="160" height="205" /></a>

                }
                else
                {
                    <p>Geen foto beschikbaar</p>
                }
            </td>
            <td>@album.Titel</td>

            <td>
                <form asp-action="AddAlbumToPlaylist" asp-controller="User" asp-route-id="@album.Id" method="post">
                    <div class=" form-group">
                        <label asp-for="SelectedMyMusicPlaylist"></label>
                        <select class="form-control" asp-for="SelectedMyMusicPlaylist" asp-items="Model.MyMusicPlaylistToSelect"></select>
                        <span class="text-danger" asp-validation-for="MyMusicPlaylistToSelect"></span> 
                    </div>
                    <button class="btn btn-primary" type="submit">Add to playlist</button>
                </form>

            </td>


        </tr>
    }

</table>